@import url(https://fonts.googleapis.com/css?family=Cherry+Bomb+One:regular);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Cherry Bomb One";
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}


.add-task-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

#task-input {
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #ddd;
    outline: none;
    font-family: 'Cherry Bomb One';
    transition: border-color 0.3s;
}


#add-btn {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #333;
    color: white;
    font-family: 'Cherry Bomb One';
    cursor: pointer;
    transition: transform 0.2s;
}

#add-btn:hover {
    transform: scale(1.05);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.list {
    background-color: #e3e4e8;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.list h2 {
    color: #555;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card {
    background-color: white;
    color: #333;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, opacity 0.2s ease box-shadow 0.2s;
}

#delete-zone {
    width: 200px;
    height: 60px;
    margin: 20px auto;
    border: 2px dashed #ffadad;
    border-radius: 15px;
    display: flex;
    position: relative;
    align-items: center;
    color: #c46363;
    font-family: 'Cherry Bomb One';
    transition: all 0.2s ease-out;
    opacity: 0.5;
}

#delete-zone::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}

#delete-zone.over {
    background-color: #ffadad;
    color: white;
    border: 2px solid #ff4d4d;
   box-shadow: 0 0 30px rgba(255, 77, 77, 0.6);
    transform: scale(1.2);
    border-style: solid;
}


.card.dragging {
    opacity: 0.5;
    transform: scale(0.8);
    cursor: grabbing;
}




.card.near-trash {
    transform: scale(0.5) rotate(15deg);
    filter: grayscale(1) brightness(1.5);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.card:active {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.list.over {
    background-color: #d1d3d8;
}

@media (max-width:768px) {
    .board {
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }
}